/*  -moz-border-radius :5px;
 -webkit-border-radius: 5px; */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans Bold'), url("/fnt/OpenSans-Bold.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), url("/fnt/OpenSans-Light.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  src: local('Open Sans Bold Italic'), url("/fnt/OpenSans-BoldItalic.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), url("/fnt/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: local('Open Sans Italic'), url("/fnt/OpenSans-Italic.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url("/fnt/OpenSans-Regular.ttf");
}

.navbar {
    margin-bottom: 0;
}
#bg {
    width: 94%;
    height: 90%;
    position: fixed;
    top: 7%;
    left: 3%;
    z-index: -5;
    border: 1.5px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    opacity: 0.9;
    margin: auto auto;
    background-size: cover;
}
#frame {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeat url(/img/background.gif) center center;
    z-index: -6
}
* {
    font-family: 'Open Sans', 'Droid Sans', 'verdana', 'helvetica', sans-serif;
    font-size: 13px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    outline: none;
}
#downloadwallpaper {
    position: fixed;
    bottom: 5%;
    z-index: 120;
    right: 5%;
    color: rgba(255,255,255,0.5);
}
#downloadwallpaper a {
    color: rgba(255,255,255,0.4);
}
#clock, #clock * {
    padding-top: 10px;
    padding-bottom: 5px;
    color: #fff;
    width: 60%;
    font-family: digit;
    text-align: center;
    font-size: 36px;
    background: rgba(10,10,10,0.7);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px #000;
}
#wrapper {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
#layout {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
body {
    width: 100%;
    height: 100%;
    display: table;
    position: fixed;
}
.widget {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 5px;
}
div.header {
    margin: 0;
}
.page {
    display: none;
}
.page.active {
    display: block;
}

.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 14px;
}

.widget {
    background: rgba(10,10,10,0.7);
    border: 1px solid #000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px #000;
    color: #ddd;
}
.widget .form-actions {
    color: #eee;
    background: rgba(230,230,230,0.4);
}

label,legend {
    color: #ccc;
}

.widget *:not(.btn, input) {
    color: #cecece;
}
.widget legend {
    padding-left: 5%;
    width: 95%;
}
.card {
    background: rgba(230,230,230,0.8);
    border: 1px solid #000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px #000;
    color: #ddd;
    height: 250px;
    min-width: 400px;
    display: table;
    margin: 0 auto;
    -webkit-transition-duration: 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition-duration: 0.3s;
    -moz-backface-visibility: hidden;
    padding: 0.5em;
}
.card.hidden {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card-aligner {
    display: table-cell;
    vertical-align: middle;
}
.card-word {
    margin: 0 auto 15px auto;
    width: 100%;
    text-align: center;
    color: #252525;
    font-size: 60px;
    line-height: 60px;
    height: 30%;
    display: inline-block;
    word-wrap: break-word;
}
.card-input {
    margin: 0 20px;
    text-align: center;
}
.card-input input {
    margin: 0 auto;
    min-width: 400px;
    text-align: center;
    color: #252525;
    font-size: 40px;
    line-height: 50px;
    height: 30%;
}
.card-buttons {
    text-align: center;
    margin-top: 20px;
}
.card-stats {
    position: fixed;
    bottom: 5%;
    right: 5%;
    margin-bottom: 0;
    padding: 5px;
}
.card-control {
    position: fixed;
    bottom: 5%;
    left: 5%;
    margin-bottom: 0;
    padding: 5px;
}

.card-remember-container {
    position: fixed;
    bottom: 5%;
    left: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.card-remember {
    padding: 5px;
    margin: 0 auto;
    min-width: 30%;
    text-align: center;
    display: inline-block;
    max-width: 60%;
}

.cent {
    margin: 0 auto;
    text-align: center;
}
.spacer {
    margin-bottom: 0.3em;
}
#wordlist {
    overflow-y: scroll;
    max-height: 500px;
    min-height: 150px;
    padding: 5px;    
}

#wordlist-control {
    padding: 5px;
}

#wordlist-control input {
    text-align: center;
    vertical-align: top;
}

#import-modal textarea {
    width: 98%;
    height: 15em;
    font-family: monospace;
}
#debug-modal textarea {
    width: 98%;
    height: 15em;
    font-family: monospace;
}

#export-modal textarea {
    width: 98%;
    height: 20em;
    font-family: monospace;
}

.navbar .container {
    margin-left: 60px;
    width: auto;
}

label, input, button, select, textarea {
    font-size: 13px;
}

.import-modal,.export-modal textarea {
    width: 97%;    
}

.card-remember .e:not(:empty)::before {
    
    content: "Podano: ";
    font-weight: bold;
    display: inline;
}

.card-remember .q:not(:empty)::before {
    
    content: "Zapamiętaj: ";
    font-weight: bold;
    display: inline;
}

.achievement-toast {
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    background-color: #363636;
    background-image: -webkit-linear-gradient(top, #444, #222);
    background-image: -moz-linear-gradient(top, #444, #222);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.0980392);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    margin: 0;
    padding: 4px 14px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    width: 350px;
    height: 100px;
    display: table;
    margin: 0 auto;
}

.achi-icon {
    width: 64px;
    height: 64px;
    vertical-align: middle;
    display: table-cell;
}

.achi-title {
    vertical-align: top;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid;
    width: 90%;
    margin: 0 auto;
    font-size: 150%;
    margin-bottom: 10px;
}

.achi-text {
    display: table-cell;
    vertical-align: middle;
}

.achi-description {
    vertical-align: bottom;
    color: #eee;
    font-size: 120%;
}

.achi-header {
    width: 380px;
    text-align: center;
    font-size: 200%;
    color: #FFB90F;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: #000 2px 2px 2px;
    margin: 0 auto;
    margin-top: 40px;
}

#achievement-container {
    position: fixed;
    min-width: 0;
    width: 100%;
    left: 0;
    bottom: 5%;
}

#achi-table {
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#achi-table tr td:nth-child(1) {
    text-align: center;
}

#achi-table tr.disabled td {
    color: #555;
}

#achi-table tr.disabled td img {
    opacity: 0.3;
}

#achi-table img {
    width: 32px;
}

#achi-default {
    display: none;
}

@media screen and (max-height: 700px) {
    #wordlist {
        max-height: 300px;
    }
}

#loading {
    padding: 7px 10px;
    display: none;
}

#brand {
    font-size: 600%;
    color: #ccc;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
    font-weight: 300;
}

.navbar .brand {
    font-weight: 400;
}

.card-input input {
    font-weight: 300;
    font-family: inherit;
}

.card-word {
    font-weight: 300;
}

.font-300 * {
    font-weight: 300;
}

.font-300 strong {
    font-weight: bold;
}

.font-classic * {
    font-family: 'Droid Sans', 'verdana', 'helvetica', sans-serif !important;
}
